<div class="principal">
    <h1 class="headline-xxl-govco">Otros temas de tu interés</h1> 
</div>
<div class="principal">
   
    <div>
        <div class="card govco-card">
            <div class="card-body">
                <table>
                    <tr>
                        <td rowspan="3">
                            <img src="../../assets/imagenes/{{otrostemasLista[0].imagen}}" height="100px" width="100px">
                        </td>
                        <td>
                            <h3 class="headline-l-govco">{{otrostemasLista[0].titulo}}</h3>
                        </td>
                    <tr>
                        <td> <span class="small-text-govco">{{otrostemasLista[0].subtitulo}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> <a href="{{otrostemasLista[0].enlace}}">Me interesa</a>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
        <div class="card govco-card">
            <div class="card-body">
                <table>
                    <tr>
                        <td rowspan="3">
                            <img src="../../assets/imagenes/{{otrostemasLista[1].imagen}}" height="100px" width="100px">
                        </td>
                        <td>
                            <h3 class="headline-l-govco">{{otrostemasLista[1].titulo}}</h3>
                        </td>
                    <tr>
                        <td> <span class="small-text-govco">{{otrostemasLista[1].subtitulo}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> <a href="{{otrostemasLista[1].enlace}}">Me interesa</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div>
        <div class="card govco-card">
            <div class="card-body">
                <table>
                    <tr>
                        <td rowspan="3">
                            <img src="../../assets/imagenes/{{otrostemasLista[2].imagen}}" height="100px" width="100px">
                        </td>
                        <td>
                            <h3 class="headline-l-govco">{{otrostemasLista[2].titulo}}</h3>
                        </td>
                    <tr>
                        <td> <span class="small-text-govco">{{otrostemasLista[2].subtitulo}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> <a href="{{otrostemasLista[2].enlace}}">Me interesa</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="card govco-card">
            <div class="card-body">
                <table>
                    <tr>
                        <td rowspan="3">
                            <img src="../../assets/imagenes/{{otrostemasLista[3].imagen}}" height="100px" width="100px">
                        </td>
                        <td>
                            <h3 class="headline-l-govco">{{otrostemasLista[3].titulo}}</h3>
                        </td>
                    <tr>
                        <td> <span class="small-text-govco">{{otrostemasLista[3].subtitulo}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> <a href="{{otrostemasLista[3].enlace}}">Me interesa</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>